@import "../../../styles/mixins";
@import "../../../styles/variables";
.top {
  //   padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
    color: #3c3c3b;
    @include breakpoint(xs) {
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #3c3c3b;
    @include breakpoint(xs) {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
.cardSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-block: 30px;
  p {
    color: #3c3c3b;
  }
  h3 {
    color: #3c3c3b;
  }
  @include breakpoint(md) {
    grid-template-columns: 1fr;
  }
}
.navigation {
  display: none;
  @include breakpoint(md) {
    a {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
    }
    button {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
    }
    padding: 16px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: $color-secondary;
  }
}
